APP_PORT=28080
MYSQL_PORT=3400
PHPMYADMIN_PORT=28081
SERVER_PORT=8080
SERVER_SERVLET_CONTEXT_PATH=/eventsphere
MYSQL_DATABASE=eventsphere_db
MYSQL_ROOT_PASSWORD=change-me-root-password
MYSQL_USER=eventsphere
MYSQL_PASSWORD=change-me-app-password
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.MySQLDialect
APP_SEED_ENABLED=true
DOCKER_BUILD_SKIP_TESTS=true
JAVA_OPTS=-Xms256m -Xmx512m
